<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Space Mono' rel='stylesheet'>
    <title>Front</title>
</head>
<style>
    table, th, td {
      border: 1px solid black;
    }
</style>
<body>
    <div class="container">
        <div class="coordsform">
            <h2>Coordenadas</h2>
            <form action="coords" method="post">
                <label>Valor X </label><input type="text" id="x" name="x" value="{{coordenadas[(coordenadas|length - 1)].x}}"> &nbsp;&nbsp;&nbsp; <label>Valor J1 </label><input type="text" id="j1" name="j1" value="{{coordenadas[(coordenadas|length - 1)].j1}}"><br><br>
                <label>Valor Y </label><input type="text" id="y" name="y" value="{{coordenadas[(coordenadas|length - 1)].y}}"> &nbsp;&nbsp;&nbsp; <label>Valor J2 </label><input type="text" id="j2" name="j2" value="{{coordenadas[(coordenadas|length - 1)].j2}}"><br><br>
                <label>Valor Z </label><input type="text" id="z" name="z" value="{{coordenadas[(coordenadas|length - 1)].z}}"> &nbsp;&nbsp;&nbsp; <label>Valor J3 </label><input type="text" id="j3" name="j3" value="{{coordenadas[(coordenadas|length - 1)].j3}}"> <br><br>
                <label>Valor R </label><input type="text" id="r" name="r" value="{{coordenadas[(coordenadas|length - 1)].r}}"> &nbsp;&nbsp;&nbsp; <label>Valor J4 </label><input type="text" id="j4" name="j4" value="{{coordenadas[(coordenadas|length - 1)].j4}}"><br><br>
                <button type="submit">Enviar</button>
            </form>
            <hr>
        </div>
    </div>
    <div class="coordsform">
        <p>Voce ja executou <b>{{(coordenadas|length - 1)}} coordenadas</b></p>
        <table class="coordsform">
        <tbody>
            <tr>
                <td><b>&nbsp;X: </b>{{coordenadas[(coordenadas|length - 1)].x}}&nbsp;</td>
            </tr>
            <tr>
                <td><b>&nbsp;Y: </b>{{coordenadas[(coordenadas|length - 1)].y}}&nbsp;</td>
            </tr>
            <tr>
                <td><b>&nbsp;Z: </b>{{coordenadas[(coordenadas|length - 1)].z}}&nbsp;</td>
            </tr>
            <tr>
                <td><b>&nbsp;R: </b>{{coordenadas[(coordenadas|length - 1)].r}}&nbsp;</td>
            </tr>
            <tr>
                <td><b>&nbsp;J1: </b>{{coordenadas[(coordenadas|length - 1)].j1}}&nbsp;</td>
            </tr>
            <tr>
                <td><b>&nbsp;J2: </b>{{coordenadas[(coordenadas|length - 1)].j2}}&nbsp;</td>
            </tr>
            <tr>
                <td><b>&nbsp;J3: </b>{{coordenadas[(coordenadas|length - 1)].j3}}&nbsp;</td>
            </tr>
            <tr>
                <td><b>&nbsp;J4: </b>{{coordenadas[(coordenadas|length - 1)].j4}}&nbsp;</td>
            </tr>
        </tbody>
        </table>
    </div>
</body>
</html>