<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Space Mono' rel='stylesheet'>
    <title>Front</title>
</head>
<style>
    table, th, td {
      border: 1px solid black;
    }
</style>
<body>
    <div class="container">
        <div class="coordsform">
            <h2>Coordenadas</h2>
            <form action="coords" method="post">
                <label>Valor X </label><input type="text" id="x" name="x" value="{{coordenadas[(coordenadas|length - 1)].x}}"><br><br>
                <label>Valor Y </label><input type="text" id="y" name="y" value="{{coordenadas[(coordenadas|length - 1)].y}}"><br><br>
                <label>Valor Z </label><input type="text" id="z" name="z" value="{{coordenadas[(coordenadas|length - 1)].z}}"><br><br>
                <label>Valor R </label><input type="text" id="r" name="r" value="{{coordenadas[(coordenadas|length - 1)].r}}"><br><br>
                <button type="submit">Enviar</button>
            </form>
            <hr>
        </div>
    </div>
    <div class="coordsform">
        <p>Voce ja executou <b>{{(coordenadas|length - 1)}} coordenadas</b></p>
        <table class="coordsform">
        <tbody>
            <tr>
                <td><b>&nbsp;X: </b>{{coordenadas[(coordenadas|length - 1)].x}}&nbsp;</td>
            </tr>
            <tr>
                <td><b>&nbsp;Y: </b>{{coordenadas[(coordenadas|length - 1)].y}}&nbsp;</td>
            </tr>
            <tr>
                <td><b>&nbsp;Z: </b>{{coordenadas[(coordenadas|length - 1)].z}}&nbsp;</td>
            </tr>
            <tr>
                <td><b>&nbsp;R: </b>{{coordenadas[(coordenadas|length - 1)].r}}&nbsp;</td>
            </tr>
        </tbody>
        </table>
    </div>
</body>
</html>